<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>top</title>
    <link rel="stylesheet" href="top.scss"/>
  </head>

<body>
  <h1 class="title">
  ようこそ
  <strong class="strong">Bookers</strong>
  へ！
  </h1>
  
  <P>
  <strong>Bookers</strong>
  では、さまざまな書籍に関するあなたの意見や
  </P>
  <P>印象を共有し交換することができます</P>

  <p>
    <a href="table/">start</a>
  </p>
</body>
</html>
